*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/ggml-base.bin
/app/src/main/export
app/release/app-release.apk
/app/src/main/assets
!/app/src/main/assets/
/app/src/main/assets/*
!/app/src/main/assets/ggml-silero-v6.2.0.bin
models/ggml-small_q8_0.bin
models/ggml-medium_q8_0.bin
models/ggml-kotoba-whisper_q8_0.bin
/models/ctranslate2/kotoba-whisper-v2.2-int8
/models/ctranslate2/openai-whisper-medium-int8
/models/ctranslate2/openai-whisper-small-int8
/.codex-temp
