<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 録音権限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通知を送る権限(バックグラウンド実行に必須) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Android14以下 通知を送りながらバックグラウンド実行 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android15以上(具体的な権限必須) 通知を送りながらバックグラウンドで録音実行 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <!--
     allowBackup FileDir(),getDir(),getDataBase(),getExternalFilesDir()のフォルダのバックアップ
     icon アイコンのパス
     label アプリ名
     ...
     -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgrammingJissen2">
        <!-- バックグラウンドで実行されるクラス -->
        <service
            android:name=".Transcription.BackgroundWhisperService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
        <!-- 設定UI画面 -->
        <activity
            android:name=".SettingUI.WhisperSettingsActivity"
            android:exported="false" />
        <!-- 文字起こし結果UI画面 -->
        <activity
            android:name=".ResultUI.TranscriptionListActivity"
            android:exported="false" />
        <!-- 整形済み文字起こしテキストUI画面 -->
        <activity
            android:name=".ResultUI.TranscriptionTextListActivity"
            android:exported="false" />
        <!-- 外部サービス的なやつ。ファイル管理 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- メイン -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- 最初のUI画面 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

